.vs/HH509R_Logger/v16/ipch
.vs/HH509R_Logger/v16/Browse.VC.db
.vs/HH509R_Logger/v16/Browse.VC.db-shm
.vs/HH509R_Logger/v16/Browse.VC.db-wal
.vs/HH509R_Logger/v16/Browse.VC.opendb
Debug
HH509R_Logger/Debug
Release/HH509R_Logger.pdb
HH509R_Logger/Release
